.add_task {
	display: flex;
	column-gap: 1rem;
	width: 100%;
	justify-content: center;

	.add_task__input {
		display: flex;
		flex-direction: column;

		input {
			min-height: 100%;
		}

		small {
			color: red;
		}
	}
}
